
    <img src="https://image.ibb.co/eRUHK5/melting_pot_4.png" alt="logo"></a>
<body>

 


  <div id="map"></div>


<div class="pin-shadow"></div>
</div>
    <div class="action">
      <button><a class="waves-effect waves-light btn" id ="marker">SHOW VENDORS</a></button>

      <button><a class="waves-effect waves-light btn" id ="center">CENTRE MAP</a></button>
      <button><a class="waves-effect waves-light btn" id ="marker2">FIND MY LOCATION</a></button>
</div>
  
 <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdfipYKTyWEiJXhGSRos_HxVAaEcUQyuw&callback=initMap">
        </script>
  
</body>
  
  